/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}


.scrollable {
          height: 600px; /* or any value */
          width: 210px;
           overflow-y: auto;
           overflow-x: auto;
}

.white{
  color: white;
}
.wallp {

  background: rgba(23,23,23,1);
  background: -moz-linear-gradient(top, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 12%, rgba(31,31,31,1) 25%, rgba(20,20,20,1) 39%, rgba(13,13,13,1) 46%, rgba(0,0,0,1) 51%, rgba(5,5,5,1) 60%, rgba(13,13,13,1) 76%, rgba(8,8,8,1) 91%, rgba(5,5,5,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,23,23,1)), color-stop(12%, rgba(28,28,28,1)), color-stop(25%, rgba(31,31,31,1)), color-stop(39%, rgba(20,20,20,1)), color-stop(46%, rgba(13,13,13,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(5,5,5,1)), color-stop(76%, rgba(13,13,13,1)), color-stop(91%, rgba(8,8,8,1)), color-stop(100%, rgba(5,5,5,1)));
  background: -webkit-linear-gradient(top, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 12%, rgba(31,31,31,1) 25%, rgba(20,20,20,1) 39%, rgba(13,13,13,1) 46%, rgba(0,0,0,1) 51%, rgba(5,5,5,1) 60%, rgba(13,13,13,1) 76%, rgba(8,8,8,1) 91%, rgba(5,5,5,1) 100%);
  background: -o-linear-gradient(top, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 12%, rgba(31,31,31,1) 25%, rgba(20,20,20,1) 39%, rgba(13,13,13,1) 46%, rgba(0,0,0,1) 51%, rgba(5,5,5,1) 60%, rgba(13,13,13,1) 76%, rgba(8,8,8,1) 91%, rgba(5,5,5,1) 100%);
  background: -ms-linear-gradient(top, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 12%, rgba(31,31,31,1) 25%, rgba(20,20,20,1) 39%, rgba(13,13,13,1) 46%, rgba(0,0,0,1) 51%, rgba(5,5,5,1) 60%, rgba(13,13,13,1) 76%, rgba(8,8,8,1) 91%, rgba(5,5,5,1) 100%);
  background: linear-gradient(to bottom, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 12%, rgba(31,31,31,1) 25%, rgba(20,20,20,1) 39%, rgba(13,13,13,1) 46%, rgba(0,0,0,1) 51%, rgba(5,5,5,1) 60%, rgba(13,13,13,1) 76%, rgba(8,8,8,1) 91%, rgba(5,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#050505', GradientType=0 );

}
